<div>
    <textarea id="string" rows="20" cols="120"></textarea>
</div>
<div>
    <input type="button" value="Отправить" onclick="UploadResult(document.getElementById('string').value);"/>
</div>
<div id="results">
    <div id="class1"></div>
    <div id="class2"></div>
    <div id="class3"></div>
    <div id="entity"></div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
function Paint(result, classId){
    $.ajax({
    type: "GET",
    url: "/paint",
    data: {
        'text': result,
        'class_id': classId
    },
    headers:{
        "X-CSRFToken": '{{ csrf_token }}'
    },
    success: function(response){
            console.log(classId);
            console.log(response.paint);
            var class_elem = document.getElementById(classId);
            class_elem.innerHTML = '';
            var element = document.createElement("DIV");
            class_elem.appendChild(element);
            element.innerHTML = response.paint;
            for (var i = 0; i < response.length; i++){
                console.log(response[i]);
            }
        }
    });
}
function UploadResult(result)
{
    document.getElementById("class1").innerHTML = "";
    document.getElementById("class2").innerHTML = "";
    document.getElementById("class3").innerHTML = "";
    document.getElementById("entity").innerHTML = "";
    var class1 = document.getElementById("class1");
    var class2 = document.getElementById("class2");
    var class3 = document.getElementById("class3");
    var entity = document.getElementById("entity");
    var element = document.createElement("DIV");
    class1.appendChild(element);
    element.id = 'class1-text'
    var element = document.createElement("INPUT");
    class1.appendChild(element);
    element.type = "button";
    element.onclick = function(result) {Paint(result, 'class1')};
    element.value = "Раскрасить";
    var element = document.createElement("DIV");
    class2.appendChild(element);
    element.id = 'class2-text';
    var element = document.createElement("INPUT");
    element.type = "button";
    element.onclick = function(result) {Paint(result, 'class2')};
    class2.appendChild(element);
    element.value = "Раскрасить";
    var element = document.createElement("DIV");
    class3.appendChild(element);
    element.id = 'class3-text';
    var element = document.createElement("INPUT");
    element.type = "button";
    element.onclick = function(result) {Paint(result, 'class3')};
    class3.appendChild(element);
    element.value = "Раскрасить";
    var element = document.createElement("DIV");
    entity.appendChild(element);
    element.id = 'entity-text';
    document.getElementById("class1-text").innerHTML = "Результат класса 1: ожидание результата";
    document.getElementById("class2-text").innerHTML = "Результат класса 2: ожидание результата";
    document.getElementById("class3-text").innerHTML = "Результат класса 3: ожидание результата";


    $.ajax({
        type: "POST",
        url: "/handle",
        data: {
            'text': result
        },
        headers:{
            "X-CSRFToken": '{{ csrf_token }}'
        },
        success: function(response){
            const data = response;
            document.getElementById("class1-text").innerHTML = `Результат класс 1: ${data.class1}`;
            document.getElementById("class2-text").innerHTML = `Результат класс 2: ${data.class2}`;
            document.getElementById("class3-text").innerHTML = `Результат класс 3: ${data.class3}`;
            document.getElementById("entity-text").innerHTML = data.entity;
        }
    });
}
</script>
<script>

</script>