<div>
    <textarea id="string" rows="20" cols="120"></textarea>
</div>
<div>
    <input type="button" value="Отправить" onclick="UploadResult(document.getElementById('string').value);"/>
</div>
<div id="results">
    <div id="class1"></div>
    <div id="class2"></div>
    <div id="class3"></div>
    <div id="entity"></div>
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script>
function Paint(data, classId){
    $.ajax({
    type: "GET",
    url: "/paint",
    data: {
        'data': data
    },
    headers:{
        "X-CSRFToken": '{{ csrf_token }}'
    },
    success: function(response){
            console.log(classId);
            console.log(response.paint);
            var class_elem = document.getElementById(classId);
            var element = document.createElement("DIV");
            class_elem.appendChild(element);
            element.innerHTML = response.paint;
        }
    });
}
function UploadResult(result)
{
    document.getElementById("class1").innerHTML = "";
    document.getElementById("class2").innerHTML = "";
    document.getElementById("class3").innerHTML = "";
    document.getElementById("entity").innerHTML = "";
    var class1 = document.getElementById("class1");
    var class2 = document.getElementById("class2");
    var class3 = document.getElementById("class3");
    var entity = document.getElementById("entity");
    var element = document.createElement("TEXTAREA");
    class1.appendChild(element);
    element.id = 'class1-text'
    var element = document.createElement("INPUT");
    class1.appendChild(element);
    element.type = "button";
    element.onclick = function() {Paint(document.getElementById('class1-text').value, 'class1')};
    element.value = "Раскрасить";
    var element = document.createElement("TEXTAREA");
    class2.appendChild(element);
    element.id = 'class2-text';
    var element = document.createElement("INPUT");
    element.type = "button";
    element.onclick = function() {Paint(document.getElementById('class2-text').value, 'class2')};
    class2.appendChild(element);
    element.value = "Раскрасить";
    var element = document.createElement("TEXTAREA");
    class3.appendChild(element);
    element.id = 'class3-text';
    var element = document.createElement("INPUT");
    element.type = "button";
    element.onclick = function() {Paint(document.getElementById('class3-text').value, 'class3')};
    class3.appendChild(element);
    element.value = "Раскрасить";
    var element = document.createElement("TEXTAREA");
    entity.appendChild(element);
    element.id = 'entity-text';


    $.ajax({
        type: "POST",
        url: "/handle",
        data: {
            'text': result
        },
        headers:{
            "X-CSRFToken": '{{ csrf_token }}'
        },
        success: function(response){
            const data = response;
            document.getElementById("class1-text").value = data.class1;
            document.getElementById("class2-text").value = data.class2;
            document.getElementById("class3-text").value = data.class3;
            document.getElementById("entity-text").value = data.entity;
        }
    });
}
</script>
<script>

</script>